<div class="Container Container--narrow">
  <header class="PageHeader">


    <div class="SectionHeader">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ 'customer.account.title' | t }}</h1>
      <p class="SectionHeader__Description">{{ 'customer.account.welcome' | t: first_name: customer.first_name }}</p>
    </div>
    <a href="{{ routes.account_logout_url }}" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">{{ 'customer.account.logout' | t }}</a>
  </header>

  <h1>{{ customer.metafielfds["tel"] }}</h1>
  <div class="PageLayout PageLayout--breakLap">
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    ORDER HISTORY
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="PageLayout__Section">
      {%- if customer.orders.size == 0 -%}
        <div class="Segment">
          <h2 class="Segment__Title Heading u-h7">{{ 'customer.account.no_orders_title' | t }}</h2>

          <div class="Segment__Content">
            <p>{{ 'customer.account.no_orders_content' | t }}</p>
          </div>
        </div>
      {%- else -%}
        {%- paginate customer.orders by 25 -%}
          <div class="TableWrapper">
            <table class="AccountTable Table Table--large">
              <thead class="Text--subdued">
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th class="Text--alignRight">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>

              <tbody class="Heading u-h7">
                {%- for order in customer.orders -%}
                  <tr>
                    <td><a href="{{ order.customer_url }}" class="Link Link--underline">{{ order.name }}</a></td>
                    <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td>{{ order.financial_status_label }}</td>
                    <td>{{ order.fulfillment_status_label }}</td>
                    <td class="Text--alignRight">{{ order.total_price | money_without_trailing_zeros }}</td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>

          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    ADDRESS
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="PageLayout__Section PageLayout__Section--secondary">
      <div class="Segment">
        {%- if customer.addresses_count == 0 -%}
          <h2 class="Segment__Title Heading u-h7">{{ 'customer.account.no_addresses_title' | t }}</h2>

          <div class="Segment__Content">
            <p>{{ 'customer.account.no_addresses_content' | t }}</p>

            <div class="Segment__ButtonWrapper">
              <a href="{{ routes.account_addresses_url }}" class="Button Button--primary">{{ 'customer.account.manage_addresses' | t }}</a>
            </div>
          </div>
        {%- else -%}
          <h2 class="Segment__Title Heading u-h7">{{ 'customer.account.default_address' | t }}</h2>

          <div class="Segment__Content">
            {{ customer.default_address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
            <div class="Segment__ButtonWrapper">
              <a href="{{ routes.account_addresses_url }}" class="Button Button--primary">{{ 'customer.account.edit_addresses' | t }}</a>
            </div>
          </div>
        {%- endif -%}
      </div>
       <div class="Segment" id="pro_info">
        {%- if customer and customer.tags contains 'PRO' -%}
          <h2 class="Segment__Title Heading u-h7">Vos informations professionnelles :</h2>

          <div class="Segment__Content">
            <p>CIP : {{ customer.metafields.global["cip"] }}</p>
            <p>Siret : {{ customer.metafields.global["siret"] }}</p>
            <p>Raison sociale : {{ customer.metafields.global["raison_sociale"] }}</p>

           <div class="SectionHeader__ButtonWrapper">
             <button id="pro_info_edit" type="button" class="Button Button--primary" data-action="open-modal" aria-controls="modal-edit-customer">Modifier vos informations</button>
           </div>
          </div>
        {%- endif -%}
      </div>

      <div id="modal-edit-customer" class="Modal Modal--address" aria-hidden="true" role="dialog" data-scrollable>
        <button class="Modal__Close Modal__Close--outside" data-action="close-modal">{%- render 'icon' with 'close' -%}</button>

        <header class="Modal__Header">
          <h3 class="Modal__Title Heading u-h2">Vos informations professionnelles</h3>
          <p class="Modal__Description">{{ 'customer.addresses.form_subtitle' | t }}</p>
        </header>

        <div class="Modal__Content">
              <div class="Form__Item">
                <h4>CIP :</h4>
                <input id="cip-edit" type="text" class="Form__Input" value="{{ customer.metafields.global["cip"] }}" name="{{ customer.metafields.global["cip"] }}" placeholder="{{ customer.metafields.global["cip"] }}" aria-label="{{ customer.metafields.global["cip"] }}">
              </div>

              <div class="Form__Item">
                <h4>SIRET :</h4>
                <input id="siret-edit" type="text" class="Form__Input" value="{{ customer.metafields.global["siret"] }}" name="{{ customer.metafields.global["siret"] }}" placeholder="{{ customer.metafields.global["siret"] }}" aria-label="" autofocus>
              </div>


              <div class="Form__Item">
                <h4>Raison sociale :</h4>
                <input id="raison_sociale-edit" type="text" class="Form__Input" name="{{ customer.metafields.global["raison_sociale"] }}" placeholder="{{ customer.metafields.global["raison_sociale"] }}" value = "" aria-label="{{ customer.metafields.global["raison_sociale"] }}">
              </div>

              <div id="customer_id" class="no-show">{{ customer.id }}</div>

            <button id="meta_update" class="Form__Submit Button Button--primary Button--full">Mettre à jour vos information</button>
        </div>

    </div>
  </div>
</div>
