<section data-section-id="reset-password" data-section-type="reset-password">
  <div class="Container">



        <div class="PageContent PageContent--fitScreen PageContent--extraNarrow">
          {%- form 'create_customer', name: 'create_customer', class: 'Form Form--spacingTight', id: 'create_customer' -%}
            <header class="Form__Header">
              <h1 class="Form__Title Heading u-h1">CREER COMPTE PARTICULIER</h1>
              <p class="Form__Legend">{{ 'customer.register.description' | t }}</p>
            </header>

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- if request.locale.iso_code == 'ja' -%}
          <div class="Form__Item">
            <input id="last_name" type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
            <label class="Form__FloatingLabel">{{ 'customer.register.last_name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input id="first_name" type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
            <label class="Form__FloatingLabel">{{ 'customer.register.first_name' | t }}</label>
          </div>
        {%- else -%}
          <div class="Form__Item">
            <input id="first_name" type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
            <label class="Form__FloatingLabel">{{ 'customer.register.first_name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input id="last_name" type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
            <label class="Form__FloatingLabel">{{ 'customer.register.last_name' | t }}</label>
          </div>
        {%- endif -%}

        <div class="pro-checkbox">
          <label for="pro">Client professionnel ?</label>
          <input type="checkbox" id="pro-checkbox" name="pro"
                 >
        </div>

        <div class="pro-info no-show">
          <div class="Form__Item">
            <input id="raison_sociale" type="text" class="Form__Input pro-input" name="" aria-label="Raison sociale de l'entreprise*" placeholder="Raison sociale de l'entreprise*">
            <label class="Form__FloatingLabel">Raison sociale de l'entreprise*</label>
          </div>

          <div class="Form__Item">
            <input id="siret" type="number" class="Form__Input pro-input" name="" aria-label="SIRET de l'entreprise" placeholder="SIRET de l'entreprise*" >
            <label class="Form__FloatingLabel">SIRET de l'entreprise*</label>
          </div>

           <div id="checkbox" class="Form__Item">
            <label class="Form__FloatingLabel">Code CIP*</label>
            <input id="cip-form" type="number" class="Form__Input pro-input" name="" aria-label="Code CIP" placeholder="Code CIP*" >
          </div>

          <div class="Form__Item">
            <input id="address1" type="text" class="Form__Input pro-input" name="" aria-label="Adresse de l'entreprise" placeholder="Adresse de l'entreprise" >
            <label class="Form__FloatingLabel">Adresse de l'entreprise*</label>
          </div>

          <div class="Form__Item">
            <input id="zip" type="text" class="Form__Input pro-input" name="" aria-label="Code postal de l'entreprise" placeholder="Code postal de l'entreprise" >
            <label class="Form__FloatingLabel">Code postal de l'entreprise*</label>
          </div>

          <div class="Form__Item">
            <input id="city" type="text" class="Form__Input pro-input" name="" aria-label="Ville" placeholder="Ville" >
            <label class="Form__FloatingLabel">Ville*</label>
          </div>

          <div class="Form__Item">
            <input id="tel" type="text" class="Form__Input pro-input" name="" aria-label="Nom de l'entreprise" placeholder="Numéro de téléphone" >
            <label class="Form__FloatingLabel">Numéro de téléphone*</label>
          </div>

        </div>

        <div class="Form__Item">
          <input id="mail" type="email" class="Form__Input" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required">
          <label class="Form__FloatingLabel">{{ 'customer.register.email' | t }}</label>
        </div>


        <div class="Form__Item" id="password">
          <input type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required>
          <label class="Form__FloatingLabel">{{ 'customer.register.password' | t }}</label>
        </div>

        <button id="" type="submit" class="pro-info Form__Submit Button Button--primary Button--full">{{ 'customer.register.submit' | t }}</button>

        <button id="submit-register" type="submit" class="pro-info no-show Form__Submit Button Button--primary Button--full">{{ 'customer.register.submit' | t }}</button>
      {%- endform -%}

  </div>

  <div id="sign_up_complete" class="Modal Modal--address no-show" aria-hidden="false" role="dialog" data-scrollable>
    <button class="Modal__Close Modal__Close--outside" data-action="close-modal">{%- render 'icon' with 'close' -%}</button>

    <header class="Form__Header">
      <p class="Form__Legend">Veuillez patienter ...</p>
    </header>

    <div id="loader" class="Modal__Content">
      <img src="https://media1.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif?cid=790b76110ca9162182ba9efda2dfe999825a3482cd0057b2&rid=giphy.gif" alt="">
    </div>
  </div>

</section>
